<?xml version="1.0"?>
<configuration>
  <appSettings>
     <add key="FDModule" value="D:\Official\VisioIngenii\Samples\UASFaceDetection\UASFaceDetection\UASFaceDetection.exe"/>
     <add key="RegisteredFacesPath" value="D:\Git\VisioIngenii_GIT\VRSOHA-AttendanceSystem\AttendanceWebApp\AttendanceWebApp\Assets\RegisteredFaces\"/>
  </appSettings>
  <connectionStrings>
    <add name="MyDbConn" connectionString="Data Source=206.71.52.87;port=3306;Initial Catalog=atharep_biom;User Id=atharep_bomu;password=ukHG=CJ_.%T);Convert Zero Datetime=True; Persist Security Info=True;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=6.10.4.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.web.extensions>
  <scripting>
    <webServices>
      <jsonSerialization maxJsonLength="2147483647"/>
    </webServices>
  </scripting>
</system.web.extensions>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>